body{
    background: #ffffff !important; 
}

.bot {
    background:    #073763;
    background:    linear-gradient(#073763, #0000ff);
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Droid Serif", serif;
    text-align:    center;
}
div{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.log{
    border-radius: 20% 20%; 
    border: 10px outset #7964B1; 
    padding: 50px; 
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: 600;
}